.avatar {
  width: 120px;
  border-radius: 60px;
  border: 1px solid #000;
}
.profile {
  background-color: rgb(197, 197, 197);
  display: inline-block;
  padding: 40px;
}
.description {
  text-align: center;
  background-color: #fff;
  padding: 25px;
}
.name {
  font-size: 24px;
  font-style: bold;
}
ul {
  list-style: none;
  padding: 0;
}
.stats {
  display: flex;
  justify-content: space-around;
}
.label {
  display: flex;
}
.quantity {
  display: flex;
  font-weight: 500;
}
